* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: #fff;
  --Black-colour: #000000;
  --Low-priority: #383838;
  --Secondary-colour: #2000e7;
  --Dark-colour: #0e0578;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  background-color: var(--White);
  color: var(--Black-colour);
}

.container {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}


a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

nav .container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  top: 0;
  z-index: 100;
  color: var(--Low-priority);
  background-color: var(--White);
}

.logo h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 72px;
  color: var(--Dark-colour);
}

.menu-mobile i {
  font-size: 2rem;
}

#home {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 150px;
}

#home .image img {
  text-align: center;
  width: 100%;
  filter: drop-shadow(23px -20px 2px var(--Dark-colour));
  max-width: 250px;
  width: 100%;
  border-radius: 0px 0px 0px 60px;
}

.information h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 47px;
  color: var(--Dark-colour);
}

.information h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 47px;
  color: var(--Dark-colour);
}

#about h2,
#skils h2,
#projects h2,
#contact h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.56rem;
  line-height: 37px;
  margin-bottom: 18px;
  color: var(--Dark-colour);
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.12rem;
  color: var(--Black-colour);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.buttons a, .form-contact span button  {
  font-size: 1.1rem;
  text-align: center;
  width: 114px;
  height: 46px;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  font-size: 1.12rem;
  color: var(--White);
  background-color: var(--Dark-colour);
  transition: 0.3s;
}

.buttons a:hover,.form-contact span button:hover  {
  color: var(--White);
  background-color: var(--Secondary-colour);
  box-shadow: 0 0 15px 1px var(--Low-priority);
}

#about {
  margin-bottom: 150px;
}

#skils {
  width: 100%;
  margin-bottom: 150px;
}

.content-img img {
  width: 250px;
}

.skils-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#skils span {
  margin: 40px;
  width: 100px;
  text-align: center;
}

.skils-img span img {
  width: 94px;
  transition: 0.2s;
}

.skils-img span img:hover {
  filter: drop-shadow(0 0 4px var(--Low-priority));
}

#projects {
  width: 100%;
  margin-bottom: 150px;
}

.cards {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.card {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  max-width: 294px;
  padding: 10px;
  height: 380px;
  border-radius: 10px;
  transition: 0.3s;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px var(--Low-priority);
}

.card:hover {
  box-shadow: 0px 5px 10px 0px var(--Low-priority);
  transform: scale(1.01);
}

.text-card {
  width: 100%;
}

.card img {
  width: 100%;
  border-radius: 10px;
  font-size: 1.1rem;
}

.card span a {
  color: var(--Dark-colour);
  transition: 0.3s;
}

.card a:hover {
  text-decoration: underline;
  color: var(--Secondary-colour);
}

.form-contact {
  width: 100%;
}

.form-contact form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-contact form textarea{
  margin-bottom: 18px;
}

.form-contact form textarea,
input {
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px var(--Low-priority);
  transition: 0.3s;

  border: none;
}


.form-contact span button:hover {
  background-color: var(--Secondary-colour);
  color: var(--White);
}

input::placeholder,
textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}

label textarea:hover,
input:hover {
  box-shadow: 0px 5px 30px var(--Low-priority);
}

textarea,
input:focus {
  font-size: 1rem;
  outline: none;
}

input:focus-within {
  border: none;
}

footer {
  margin-top: 150px;
  background-color: #0000003d;
  padding-top: 30px;
  height: 390px;
}

footer p {
  font-weight: 400;
  font-size: 1.12rem;
  text-align: left;
}


.info {
  text-align: left;
  margin-bottom: 20px;
}


footer ul li a img{
  width: 30px;
}

.social-links ul {
  margin-top: 5px;
  gap: 25px;
  display: flex;
}

.social-links span p {
  margin-top: 20px;
  margin-bottom: 5px;
}

.rights ul {
 display: flex;
 gap: 0;
 flex-direction: column;
}

.rights ul li {
  text-align: left;
}


.social-links span a {
  color: var(--Black-colour);
}

.social-links span a:hover {
  text-decoration: underline;
}
