:root {
  --White: #fff;
  --Dark-colour: #000036;
}


body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--White);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--Dark-colour);
}