* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: #dfdfdf;
  --Black-colour: #000000;
  --Low-priority: #848775;
  --white-c: #f0f0f0;
  --Secondary-colour: #132b81;
  --Dark-colour: #000036;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  background-color: var(--White);
}

.container {
  width: 100%;
  padding: 0 4%;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

section header {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.hide {
  display: none;
  visibility: hidden;
}

/* ============ NAVIGATION ============ */

nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 70px;

  padding: 0 4%;
  z-index: 20;

  color: white;
  background-color: var(--Dark-colour);
  box-shadow: 0px 0px 8px var(--Low-priority);
}

#menu li::after {
  content: "";
  display: block;
  position: relative;

  width: 0%;
  height: 2px;

  background-color: #f0f0f0;

  transition: all 0.2s ease-in-out;
}

#menu li:hover::after {
  width: 100%;
}

#menu .menu-toggle {
  display: flex;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  color: white;
}

#btn-mobile {
  display: none;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 60px;
  gap: 30px;
}

.social-links li a img {
  width: 35px;
  transition: 0.2s;
}

.social-links li a img:hover {
  filter: drop-shadow(0px 0px 6px var(--White));
}

.logo {
  font-size: clamp(1.5rem, 3vw, 1.8rem);
  font-style: normal;
  font-weight: 700;

  line-height: 72px;

  color: var(--white-c);
}

/* ==================================== */

/* ============ HOME ============ */

#home {
  display: flex;
  justify-content: center;

  width: 100%;

  padding-top: 150px;
}

#home .image img {
  width: 100%;
  max-width: 250px;
  text-align: center;

  border-radius: 8px;
  filter: drop-shadow(10px -10px 0px var(--Dark-colour));
}

.information h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;

  line-height: 47px;
  color: var(--Dark-colour);
}

.information h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;

  line-height: 47px;
  color: var(--Dark-colour);
}

.information p {
  font-size: 1.3rem;
}

#skils h2,
#about h2,
#projects h2,
#contact h2 {
  font-size: clamp(1.5rem, 3vw, 1.8rem);
  font-style: normal;
  font-weight: 600;

  text-align: center;
  line-height: 37px;
  margin-bottom: 18px;

  color: var(--Dark-colour);
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.12rem;

  color: var(--Black-colour);
}

.buttons {
  display: flex;
  justify-content: center;

  margin-top: 20px;
  gap: 20px;
}

.button {
  width: fit-content;
  margin-top: 15px;
  padding: 5px 18px;

  border-radius: 4px;
  border: none;

  text-align: center;
  font-weight: 500;
  font-size: 1.1rem;

  color: var(--Dark-colour);
  background-color: var(--White);
  border: 2px solid var(--Dark-colour);

  transition: 0.2s;
}

.button:hover {
  color: var(--White);
  background-color: var(--Dark-colour);
}

/* ==================================== */

/* ============ ABOUT ============ */

#about {
  width: 100%;
  padding-top: 150px;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text p {
  font-size: 1.12rem;
  font-weight: 500;
}

.about-text p a {
  color: var(--Dark-colour);
}

/* ==================================== */

/* ============ SKILS ============ */

#skils,
#projects {
  padding-top: 150px;
}

#skils .container,
#projects .container {
  width: 100%;
  padding: 20px 0;

  background-color: var(--white-c);
}

.content-img img {
  width: 100%;
  max-width: 400px;
}

#skils ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skils-svg li {
  width: 100px;
  margin: 25px;
  transition: all 0.2s ease-in-out;
}

.skils-svg {
  display: flex;
  align-items: center;

  flex-direction: column;
  flex-wrap: wrap;
}

.skils-svg li p {
  width: 100%;
  display: flex;
  justify-content: center;
}

.skils-svg li svg path {
  fill: var(--Dark-colour);
}

.skils-svg li svg {
  position: relative;
  width: 100%;
  height: 70px;
}

.skils-svg li svg:hover {
  filter: drop-shadow(0 0 6px var(--Secondary-colour));
}

.skils-svg li:hover {
  transform: translateY(-10px);
}

/* ==================================== */

/* ============ PROJECTS ============ */

.cards {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  padding-inline: 20px;
}

.cards .card {
  display: flex;
  flex-direction: column;
  text-align: center;

  max-width: 400px;

  margin: 15px;
  margin-bottom: 20px;
  padding: 15px;

  border-radius: 10px;
  background-color: var(--Dark-colour);

  transition: 0.2s;
}

.link-projects {
  margin: 20px;
  width: 100%;
}

.link-projects a {
  font-size: 1.1rem;
  font-weight: 600;

  color: var(--Dark-colour);
}

.link-projects a:hover {
  text-decoration: underline;

  color: var(--Secondary-colour);
}

.card:hover {
  box-shadow: 0px 0px 20px var(--Secondary-colour);
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.links-projects img {
  width: 35px;
  margin: 0;

  transition: filter 0.2s;
}

.links-projects img:hover {
  filter: drop-shadow(0 0 5px var(--Secondary-colour));
}

.links-projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.links-projects a {
  display: flex;
  align-items: center;
  padding: 2px;

  font-size: 1.01rem;
  font-weight: 600;

  color: var(--White);

  transition: 0.2s;
}

.about-text p a:hover,
.card a:hover {
  text-decoration: underline;
  color: var(--white-c);
}

/* ==================================== */

/* ============ CONTACT ============ */

#contact {
  padding-top: 150px;
}

.form-contact {
  width: 100%;
}

.form-contact form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-contact span button {
  margin-top: 10px;
  padding: 6px 35px;

  border-radius: 4px;
  border: none;

  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;

  border: 2px solid var(--Dark-colour);
  background-color: var(--White);
  color: var(--Dark-colour);

  transition: 0.2s;
}

.form-contact form textarea {
  margin-bottom: 18px;
}

.form-contact form textarea,
input {
  width: 100%;
  padding: 15px;
  margin-top: 30px;

  border-radius: 8px;
  font-size: 1rem;
  border: none;

  box-shadow: 0px 5px 20px var(--Low-priority);
  background-color: var(--white-c);

  transition: 0.2s;
}

input::placeholder,
textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
}

label textarea:hover,
input:hover {
  box-shadow: 0px 0px 10px var(--Low-priority);
}

textarea,
input:focus {
  outline: none;
}

/* ============ NAVIGATION ============ */

/* ============ FOOTER ============ */

footer {
  margin-top: 150px;

  padding-top: 30px;
  padding-bottom: 50px;

  background-color: var(--Black-colour);
}

footer p {
  font-weight: 400;
  font-size: 1.12rem;
  text-align: left;

  color: var(--white-c);
}

footer img {
  width: 30px;
  transition: 0.2s;
}

footer img:hover {
  filter: drop-shadow(0 0 5px var(--White));
}

.info {
  text-align: left;
  margin-bottom: 20px;
}

.repository ul {
  margin-top: 5px;
  display: flex;
}

.links {
  margin-top: 10px;
}

.links ul {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.repository span p {
  margin-bottom: 5px;
}

.rights ul {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.rights ul li {
  text-align: left;
}

.autor a,
.repository a {
  color: var(--white-c);
}

.autor a:hover,
.repository span a:hover {
  text-decoration: underline;
}

/* ==================================== */

/* ============ BTN BACK TO TOP ============ */

.button-back-to-top {
  display: flex;
  padding: 8px;

  position: fixed;
  bottom: 25px;
  right: 25px;

  border-radius: 8px;
  background-color: var(--Dark-colour);
}

.button-back-to-top img {
  width: 30px;
}

/* ==================================== */

/* ============ MENU TOGGLE ============ */

@media screen and (max-width: 800px) {
  #menu {
    position: absolute;
    top: 70px;
    right: 0;

    display: block;

    width: 100%;
    height: 0px;

    visibility: hidden;
    overflow-y: hidden;
    text-align: center;

    background-color: var(--Dark-colour);

    transition: 0.4s all;
    z-index: 1000;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
  }

  #menu a {
    padding: 1rem 0;
    border-bottom: 2px solid rgba(0, 204, 255, 0.055);
  }

  #btn-mobile {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    gap: 7px;

    border: none;
    background: none;
    cursor: pointer;
  }

  #hamburger {
    display: block;
    height: 3px;
    width: 26px;

    border-radius: 2px;
    background: currentColor;
    color: white;
  }

  #hamburger:nth-child(2),
  #hamburger:nth-child(3) {
    position: relative;

    display: block;
    background: currentColor;

    transition: 0.2s;
  }

  #nav.active #hamburger:nth-child(1) {
    color: transparent;
  }

  #nav.active #hamburger:nth-child(2) {
    transform: rotate(135deg);
  }

  #nav.active #hamburger:nth-child(3) {
    transform: rotate(-135deg);
    position: relative;
    top: -9.05px;
  }
}

/* ==================================== */

/* ============ RESPONSIVE ============ */

@media screen and (min-width: 800px) {
  .container .column-a {
    grid-area: A;
  }
  .container .column-b {
    grid-area: B;
  }

  #home .container,
  #skils .container,
  #contact .container,
  footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "B A";
    gap: 20px;
  }

  #about .container,
  #projects .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "A A";
  }

  .active-links {
    display: none;
  }

  #about h2 {
    text-align: left;
  }

  .about-text {
    align-items: flex-start;
  }

  .about-text p {
    width: 70%;

    text-align: left;
    align-items: flex-start;
  }

  .information span {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .buttons a {
    margin: 0;
    margin-right: 20px;
  }

  .buttons {
    margin-top: 30px;
    justify-content: left;
  }

  .content-img img {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .skils-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  .cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    display: flex;
    width: 381px;
  }
}

/* ==================================== */
